

/* .navbar .navbar-nav .nav-link{
    color:#fff
} */

body{
     /* background: url("../images/web.jpg"); */
    height: 100vh; 
    /* background-repeat: no-repeat;
    background-size:cover;  */
   background:linear-gradient( #fff, #FC5C7D);
}

/* mediaquery */
/* its good to have background colour then fill in the image for desktop only` */
