.logo{
    width:150px;
    height:150px;
}

.nav-text{
    font-size: 1.5rem;
}
/* .navbar .navbar-nav .nav-link{
    color:#fff
} */

/* body{
     background: url("../images/web.jpg");
    height: 100vh; 
    background-repeat: no-repeat;
    background-size:cover; 
   background:linear-gradient( #d8a9c1, #ecbdc6);
} */

/* mediaquery */
/* its good to have background colour then fill in the image for desktop only` */
