@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap");
.showLogin {
  display: block;
}

.hideLogin {
  display: none;
}

@media screen and (max-width: 768px) {
  .login-box {
    border: 1px solid;
    width: 380px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  .login-btn {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
  }
}

@media screen and (min-width: 768px) {
  .login-box {
    width: 600px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
  }

  .login-btn {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.7rem !important;
  }

  .login-text {
    font-size: 2rem !important;
    font-family: "Montserrat", sans-serif !important;
  }
}
