.card{
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border:none;
    background-image:linear-gradient( #fff 30%, #f6d9d2) !important;
    max-width: 350px;
    
}


.card-img, .card-img-top{

    /* gives the image a rounded border */
    /* border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius); */
    width: 200px;
    align-self: center;
    border-radius: 30%;   
}

#search-container{
    width:50%;
    
}

.inputbox{
    width: 50%;
}