@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap");
/* #detailBox{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);   
    width: 85%;
    background-image:linear-gradient( #fff 30%, #f6d9d2) !important;
} */

@media screen and (max-width: 768px) {
  hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: red; /* old IE */
    background-color: red; /* Modern Browsers */
  }

  .type-box-03 {
    display: flex;
  }

  .img-box-03 {
    width: 400px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin-left: 18px;
  }
  .edit-btn {
    display: flex;
    justify-content: center;
  }
  .btn-04 {
    display: flex;
    width: 150px;
    right: 122px;
  }

  .detail-title-03 {
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .sub-title-03 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .sub-text-03 {
    font-family: "Kalam", cursive;
    font-size: 1.3rem;
  }
  .btn-03 {
    background: none;
    border: none;
    font-size: 1.7rem;
    font-family: "Kalam", cursive;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    color: black;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }

  .btn-effect-03:hover {
    color: #cf6d54;
  }

  .btn-03::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #f6d9d2;
    z-index: -1;
    transition: 0.8s;
  }

  .btn-effect-03::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }

  .btn-effect-03:hover::before {
    height: 180%;
  }

  .b-arrow-03 {
    font-size: 2rem;
  }

  .b-text-03 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  .main-box-03 {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 70%;
    /* background-image: linear-gradient(#fff 30%, #f6d9d2) !important; */
    margin-left: 14%;
    margin-bottom: 100px;
  }

  hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: red; /* old IE */
    background-color: red; /* Modern Browsers */
  }
  .img-box-03 {
    text-align: center;
    padding: 0;
    background-image: linear-gradient(#fff 30%, #f6d9d2, #fff) !important;
  }

  .parfum-img {
    border-radius: 30%;
  }

  .detail-title-03 {
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .sub-title-03 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  .sub-text-03 {
    font-family: "Kalam", cursive;
    font-size: 1.7rem;
  }
  .btn-03 {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Kalam", cursive;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    color: black;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    width: 100px;
    left: 420px;
  }

  .btn-effect-03:hover {
    color: #cf6d54;
  }

  .btn-03::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #f6d9d2;
    z-index: -1;
    transition: 0.8s;
  }

  .btn-effect-03::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }

  .btn-effect-03:hover::before {
    height: 180%;
  }

  .b-arrow-03 {
    font-size: 2rem;
  }

  .b-text-03 {
    font-size: 1.7rem;
  }
  .btn-04 {
    display: flex;
    width: 170px;
    top: 150px;
  }

  .edit-del-btn {
    font-size: 2rem;
  }
}
